.card-game {
  display: block;
  position: relative;
}

.card-game__rows {
  display: block;
  position: relative;

  margin-bottom: 24px;
}

.card-game__rows--hidden {
  display: none;
}

.card-game__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;

  margin: 0 auto;
}

.card-game__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  width: fit-content;
  height: 36px;

  margin: 8px 0 0;
  padding: 8px 36px;

  font-size: 16px;
  line-height: 1em;

  border-radius: 5px;
}

.card-game__button:only-child {
  margin: 0;
}

.card-game__button .material-icons {
  margin-right: 4px;
}
