.card-about {
  display: block;
  position: relative;
}

.card-about li:first-child {
  margin-top: 8px;
}

.card-about li:not(:last-child) {
  margin-bottom: 8px;
}

.card-about__marks {
  list-style: square;
}

.card-about__correct-mark {
  display: inline-block;

  padding: 2px 4px;
  border-radius: 4px;

  color: var(--tile-correct-text-color);
  background-color: var(--tile-correct-background-color);
}

.card-about__present-mark {
  display: inline-block;

  padding: 2px 4px;
  border-radius: 4px;

  color: var(--tile-present-text-color);
  background-color: var(--tile-present-background-color);
}

.card-about__absent-mark {
  display: inline-block;

  padding: 2px 4px;
  border-radius: 4px;

  color: var(--tile-absent-text-color);
  background-color: var(--tile-absent-background-color);
}
