:root {
  --letter-size: 64px;
  --letter-gap: 12px;
  --letter-font-size: 32px;
  --letter-border-size: 2px;
}

@media (max-width: 800px) {
  :root {
    --letter-size: 54px;
    --letter-gap: 8px;
    --letter-font-size: 28px;
    --letter-border-size: 2px;
  }
}

:root {
  --tile-correct-text-color: #fff;
  --tile-correct-background-color: #6aaa64;
  --tile-present-text-color: #fff;
  --tile-present-background-color: #c9b458;
  --tile-absent-text-color: #000;
  --tile-absent-background-color: #ddd;
}

:root .is-dark {
  --tile-correct-text-color: #fff;
  --tile-correct-background-color: #538d4e;
  --tile-present-text-color: #fff;
  --tile-present-background-color: #b59f3b;
  --tile-absent-text-color: #fff;
  --tile-absent-background-color: #121212;
}

.letter {
  display: block;
  position: relative;

  width: var(--letter-size);
  height: var(--letter-size);

  margin: 0;
  padding: calc(var(--letter-size) / 2 - var(--letter-font-size) / 2) 0;

  font-size: var(--letter-font-size);
  font-weight: 700;
  line-height: var(--letter-font-size);
  text-align: center;
  text-transform: uppercase;

  color: var(--tile-absent-text-color);
  background-color: var(--tile-absent-background-color);
}

.letter--correct {
  color: var(--tile-correct-text-color);
  background-color: var(--tile-correct-background-color);
}

.letter--present {
  color: var(--tile-present-text-color);
  background-color: var(--tile-present-background-color);
}

.letter--absent {
  color: var(--tile-absent-text-color);
  background-color: var(--tile-absent-background-color);
}
